/* src/styles/global.css */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    margin: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    body {
      flex-direction: column;
      /* padding: 1px; */
    }
  }
  